<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="Stylesheet" type="text/css" href="${basePath}common/css/login.css"/>
    <title>Login Page</title>
</head>
<body>
<div id="login-box">
    <h1 id="banner">Spring 3 security Demo</h1>
    <form name="loginForm" action="${basePath}doLogin.xhtml" method="POST">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type='text' name='j_username' value="$!j_username"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='j_password'></td>
            </tr>
            #if($!errortype)
                <tr>
                    <td colspan="2"><font color="red">$!errortype</font></td>
                </tr>
            #end
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan='2'><input value="Send" name="submit" type="submit">&nbsp;<input
                        value="Reset" name="reset" type="reset"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
